body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
    margin: 0;
    padding: 0;
}

header {
    background-color: #1565c0;
    color: white;
    padding: 20px;
    text-align: center;
     display: flex;             /* enable flexbox */
    justify-content: center;   /* center content horizontally */
    align-items: center;       /* center content vertically */
    flex-direction: column;  
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.icons {
    display: flex;          /* Align items in a row */
    gap: 10px;              /* Space between icons */
    align-items: center;    /* Vertical alignment */
}

.icons img {
    width: 25px;            /* Small icon size */
    height: 25px;           /* Keep aspect ratio */
    transition: transform 0.3s; /* Hover effect */
}

.icons img:hover {
    transform: scale(1.2);  /* Slight zoom on hover */
}




ul {
    list-style-type: square;
}

a {
    color: #1565c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d47a1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e3f2fd;
}
